Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

First pass at splitting everything up.
  app/controllers/discourse_data_explorer/query_controller.rb
  app/serializers/discourse_data_explorer/query_details_serializer.rb
  app/serializers/discourse_data_explorer/query_serializer.rb
  assets/javascripts/discourse/controllers/admin-plugins-explorer-index.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/explorer-route-map.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-index.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/templates/admin/plugins-explorer-index.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  config/routes.rb
Due: rubocop, prettier, eslint-js

Linting and tests.
  assets/javascripts/discourse/controllers/admin-plugins-explorer-index.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-index.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.hbs
  config/locales/server.en.yml
  lib/discourse_data_explorer/data_explorer.rb
  spec/system/explorer_spec.rb
  spec/system/param_input_spec.rb
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
Due: rubocop, prettier, eslint-js

More test fixes.
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

Fix some failing tests.
  app/controllers/discourse_data_explorer/query_controller.rb
  assets/javascripts/discourse/controllers/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-index.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.hbs
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
Due: rubocop, prettier, eslint-js

Fix some failing system specs.
  app/controllers/discourse_data_explorer/query_controller.rb
  spec/system/explorer_spec.rb
  spec/system/param_input_spec.rb
Due: rubocop

Simplify the new serialiser.
  app/serializers/discourse_data_explorer/query_details_serializer.rb
Due: rubocop

Remove an unnecessary chunk of the index template.
  assets/javascripts/discourse/templates/admin/plugins-explorer-index.hbs
Due: none

Redirect old links to the new route.
  assets/javascripts/discourse/controllers/admin-plugins-explorer-index.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-index.js
Due: prettier, eslint-js

Add a system spec to confirm that old URLs are redirected properly.
  spec/system/explorer_spec.rb
Due: rubocop

I removed a little too much in 68fe137725b18ace9f115216a2670fe8ad7ce8e9. :D
  assets/javascripts/discourse/templates/admin/plugins-explorer-index.hbs
Due: none

DEV: Split the Query Listing and Query Editing code (#356)
  app/controllers/discourse_data_explorer/query_controller.rb
  app/serializers/discourse_data_explorer/query_details_serializer.rb
  app/serializers/discourse_data_explorer/query_serializer.rb
  assets/javascripts/discourse/controllers/admin-plugins-explorer-index.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/explorer-route-map.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-index.js
  assets/javascripts/discourse/routes/admin-plugins-explorer-queries-details.js
  assets/javascripts/discourse/templates/admin/plugins-explorer-index.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  config/locales/server.en.yml
  config/routes.rb
  lib/discourse_data_explorer/data_explorer.rb
  spec/system/explorer_spec.rb
  spec/system/param_input_spec.rb
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
Due: rubocop, prettier, eslint-js

Update translations
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.he.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

Update translations (#357)
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.he.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

FIX: Query downloads were being passed an incorrect query object.
  assets/javascripts/discourse/controllers/admin-plugins-explorer-index.js
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.hbs
  test/javascripts/acceptance/run-query-test.js
Due: prettier, eslint-js

FIX: Query downloads were being passed an incorrect query object. (#359)
  assets/javascripts/discourse/controllers/admin-plugins-explorer-index.js
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.hbs
  test/javascripts/acceptance/run-query-test.js
Due: prettier, eslint-js

DEV: Update license
  LICENSE
Due: none

DEV: Update license (#360)
  LICENSE
Due: none

FIX: Add regression test
  spec/report_generator_spec.rb
Due: rubocop

FIX: Re-implement ReportGenerator.params_to_hash
  lib/discourse_data_explorer/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

FIX: Discourse automation reports with parameters (#363)
  lib/discourse_data_explorer/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Update linting
  Gemfile.lock
  assets/stylesheets/explorer.scss
  package.json
  pnpm-lock.yaml
  stylelint.config.mjs
Due: prettier

DEV: Update linting (#364)
  Gemfile.lock
  assets/stylesheets/explorer.scss
  package.json
  pnpm-lock.yaml
  stylelint.config.mjs
Due: prettier

FIX: Ensure dates passed in query params are parsed in the local timezone.
  assets/javascripts/discourse/components/param-input-form.gjs
Due: none

FIX: Ensure dates passed in query params are parsed in the local timezone. (#365)
  assets/javascripts/discourse/components/param-input-form.gjs
Due: none

DEV: Update linting
  Gemfile.lock
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/query-result.js
  package.json
  pnpm-lock.yaml
  test/javascripts/integration/components/data-explorer-bar-chart-test.gjs
Due: prettier, eslint-js

DEV: Update linting (#366)
  Gemfile.lock
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/query-result.js
  package.json
  pnpm-lock.yaml
  test/javascripts/integration/components/data-explorer-bar-chart-test.gjs
Due: prettier, eslint-js

DEV: update deprecated icon fa-user in test
  test/javascripts/integration/components/query-result-test.gjs
Due: none

DEV: update deprecated icon fa-user in test (#367)
  test/javascripts/integration/components/query-result-test.gjs
Due: none

DEV: Add system spec to check core features are working fine
  spec/system/core_features_spec.rb
Due: rubocop

DEV: Add system spec to check core features are working fine (#368)
  spec/system/core_features_spec.rb
Due: rubocop

FEATURE: add option to send individual report PM to group members
  config/locales/client.en.yml
  lib/discourse_data_explorer/report_generator.rb
  plugin.rb
  spec/report_generator_spec.rb
Due: rubocop

only add option for PMs
  plugin.rb
Due: rubocop

small refactor
  lib/discourse_data_explorer/report_generator.rb
Due: rubocop

FEATURE: add option to send individual report PM to group members (#369)
  config/locales/client.en.yml
  lib/discourse_data_explorer/report_generator.rb
  plugin.rb
  spec/report_generator_spec.rb
Due: rubocop

Update translations
  config/locales/client.he.yml
Due: none

FIX: allow query to be explained
  app/controllers/discourse_data_explorer/query_controller.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

FIX: allow query to be explained (#371)
  app/controllers/discourse_data_explorer/query_controller.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: improve group query access for report PM
  lib/discourse_data_explorer/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

update tests
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
