Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

Update translations
  config/locales/client.ja.yml
  config/locales/client.pt_BR.yml
Due: none

Update translations (#305)
  config/locales/client.ja.yml
  config/locales/client.pt_BR.yml
Due: none

UX: Rewrite param-input using FormKit
  app/serializers/discourse_data_explorer/query_serializer.rb
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/param-inputs-wrapper.hbs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  assets/stylesheets/explorer.scss
  config/locales/client.en.yml
  test/javascripts/components/param-input-test.js
Due: rubocop, prettier, eslint-js

v2
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/param-input/boolean-three.hbs
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
  assets/javascripts/discourse/components/param-input/group-list-input.gjs
  assets/javascripts/discourse/components/param-input/user-id-input.hbs
  assets/javascripts/discourse/components/param-input/user-list-input.hbs
  assets/javascripts/discourse/components/param-inputs-wrapper.hbs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

small change
  assets/javascripts/discourse/components/param-input-form.gjs
Due: none

fix a spec
  spec/system/param_input_spec.rb
Due: rubocop

FIX: Use with_deleted only in topic and post
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

FIX: Use with_deleted only in topic and post (#308)
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

write tests
  assets/javascripts/discourse/components/param-input-form.gjs
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

review
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/stylesheets/explorer.scss
Due: prettier, eslint-js

small style change
  assets/stylesheets/explorer.scss
Due: prettier

UX: Rewrite param-input using FormKit (#307)
  app/serializers/discourse_data_explorer/query_serializer.rb
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/param-input/boolean-three.hbs
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
  assets/javascripts/discourse/components/param-input/group-list-input.gjs
  assets/javascripts/discourse/components/param-input/user-id-input.hbs
  assets/javascripts/discourse/components/param-input/user-list-input.hbs
  assets/javascripts/discourse/components/param-inputs-wrapper.hbs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  assets/stylesheets/explorer.scss
  config/locales/client.en.yml
  spec/system/param_input_spec.rb
  test/javascripts/components/param-input-test.js
Due: rubocop, prettier, eslint-js

FIX: Empty param-form should reject submit
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/controllers/group-reports-show.js
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

fix tests
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

FIX: Empty param-inout form should reject submit (#309)
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/controllers/group-reports-show.js
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

DEV: Use Category's async method in param-input
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
  assets/javascripts/discourse/components/param-input/category-id-input.hbs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

fix
  assets/javascripts/discourse/components/param-input/category-id-input.hbs
Due: none

fix
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
  assets/javascripts/discourse/components/param-input/category-id-input.hbs
  lib/discourse_data_explorer/parameter.rb
Due: rubocop

typo
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
Due: none

fix typo
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
Due: none

revert parameter change
  lib/discourse_data_explorer/parameter.rb
Due: rubocop

Update translations
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

Update translations (#311)
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

FIX: Param should be displayed when the default value is invalid
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

FIX: Fix `user_id` validation
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

FIX: fix double validation
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

make the constructor more logical
  assets/javascripts/discourse/components/param-input-form.gjs
Due: none

FIX: Param should be displayed when the default value is invalid (#313)
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

FIX: Fix `user_id` validation (#312)
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

FIX: fix double validation (#314)
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop

DEV: Use Category's async method in param-input (#310)
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

UX: Use GroupChooser in `group_id` param input
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input/group-list-input.gjs
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

fix spec
  assets/javascripts/discourse/components/param-input/group-list-input.gjs
Due: none

rename: group-list-input -> group-input
  assets/javascripts/discourse/components/param-input/group-input.gjs
  spec/system/param_input_spec.rb
Due: rubocop

rename: group-list-input -> group-input
  assets/javascripts/discourse/components/param-input-form.gjs
Due: none

UX: Use GroupChooser in `group_id` param input (#315)
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input/group-input.gjs
  spec/system/param_input_spec.rb
  test/javascripts/components/param-input-test.js
Due: rubocop, prettier, eslint-js

UX: Rewrite date/time param-input using FormKit
  assets/javascripts/discourse/components/param-input-form.gjs
  config/locales/client.en.yml
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

UX: Rewrite date/time param-input using FormKit (#316)
  assets/javascripts/discourse/components/param-input-form.gjs
  config/locales/client.en.yml
  test/javascripts/components/param-input-test.js
Due: prettier, eslint-js

DEV: Update ace-editor usage
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
