Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

Update translations (#237)
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.he.yml
Due: none

[FIX] The user_list parameter returned user objects instead of their IDs
  lib/discourse_data_explorer/parameter.rb
Due: rubocop

FIX: ensures explorer is using default values when provided
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  spec/system/explorer_spec.rb
Due: rubocop, prettier, eslint-js

[FIX] The user_list parameter returned user objects instead of their IDs (#239)
  lib/discourse_data_explorer/parameter.rb
Due: rubocop

FIX: ensures explorer is using default values when provided (#240)
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  spec/system/explorer_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Reduce issues when debouncing schema search
  assets/javascripts/discourse/components/explorer-schema.hbs
  assets/javascripts/discourse/components/explorer-schema.js
  assets/stylesheets/explorer.scss
Due: prettier, eslint-js

Fix that lint
  assets/javascripts/discourse/components/explorer-schema.js
Due: prettier, eslint-js

Remove redundant `filterInput` property
  assets/javascripts/discourse/components/explorer-schema.hbs
  assets/javascripts/discourse/components/explorer-schema.js
Due: prettier, eslint-js

More refactoring
  assets/javascripts/discourse/components/explorer-schema.hbs
Due: none

FIX: Reduce issues when debouncing schema search (#241)
  assets/javascripts/discourse/components/explorer-schema.hbs
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Resolve add_to_serializer deprecations
  .discourse-compatibility
  plugin.rb
Due: rubocop

DEV: Resolve add_to_serializer deprecations (#243)
  .discourse-compatibility
  plugin.rb
Due: rubocop

Update translations
  config/locales/client.ja.yml
  config/locales/client.tr_TR.yml
Due: none

Update translations (#242)
  config/locales/client.ja.yml
  config/locales/client.tr_TR.yml
Due: none

FIX: Show "false" and "0" in query result
  assets/javascripts/discourse/components/query-row-content.js
Due: prettier, eslint-js

Acceptance test
  test/javascripts/acceptance/run-query-test.js
Due: prettier, eslint-js

FIX: Show "false" and "0" in query result (#244)
  assets/javascripts/discourse/components/query-row-content.js
  test/javascripts/acceptance/run-query-test.js
Due: prettier, eslint-js

UX: fix parameters inputs spacing
  assets/stylesheets/explorer.scss
Due: prettier

trying to fix the linting errror 😬
  assets/stylesheets/explorer.scss
Due: prettier

UX: fix parameters inputs spacing (#245)
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Use angle bracket syntax
  assets/javascripts/discourse/templates/connectors/group-reports-nav-item/nav-item.hbs
  package.json
Due: none

update yarn.lock
  yarn.lock
Due: none

DEV: Use angle bracket syntax (#246)
  assets/javascripts/discourse/templates/connectors/group-reports-nav-item/nav-item.hbs
  package.json
  yarn.lock
Due: none

DEV: Remove usages of RateLimiter.clear_all!
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: update box-shadow definition
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Remove usages of RateLimiter.clear_all! (#247)
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: update box-shadow definition (#248)
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Fix Zeitwerk reloading error
  config/routes.rb
Due: rubocop

DEV: Fix Zeitwerk reloading error (#249)
  config/routes.rb
Due: rubocop

FIX: Scheduled PM with Data Explorer results not sending PM
  lib/result_to_markdown.rb
  plugin.rb
Due: rubocop

DEV: Introduce spec for result to markdown
  spec/result_to_markdown_spec.rb
Due: rubocop

FIX: include id when enriching data to match manual data explorer query results
  lib/result_to_markdown.rb
Due: rubocop

DEV: add test for table rows and ensure enriched dataincludes id
  spec/result_to_markdown_spec.rb
Due: rubocop

DEV: Fix linting issue on tests
  spec/result_to_markdown_spec.rb
Due: rubocop

FIX: Scheduled PM with Data Explorer Results not sending PM (#250)
  lib/result_to_markdown.rb
  plugin.rb
  spec/result_to_markdown_spec.rb
Due: rubocop

DEV: Use new bookmark modal
  .discourse-compatibility
  assets/javascripts/discourse/controllers/group-reports-show.js
Due: prettier, eslint-js

FIX: Increase z-index of th element
  assets/stylesheets/explorer.scss
Due: prettier

FIX: Increase z-index of th element (#253)
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Use new bookmark modal (#252)
  .discourse-compatibility
  assets/javascripts/discourse/controllers/group-reports-show.js
Due: prettier, eslint-js

FIX: update report url to work with subfolder installs
  lib/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop
