Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

FIX: the back button
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/routes/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

FIX: the back button (#130)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/routes/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

Run Prettier
  test/javascripts/acceptance/list-queries-test.js.es6
  test/javascripts/acceptance/run-query-test.js.es6
  test/javascripts/unit/components/query-result-test.js.es6
Due: prettier, eslint-js

DEV: make tests work in Ember CLI
  test/javascripts/acceptance/list-queries-test.js.es6
  test/javascripts/acceptance/run-query-test.js.es6
  test/javascripts/unit/components/query-result-test.js.es6
Due: prettier, eslint-js

Fix linting issue
  assets/stylesheets/explorer.scss
Due: prettier

Remove dead code
  assets/javascripts/discourse/components/json-file-uploader.js.es6
  assets/javascripts/discourse/controllers/import-query.js.es6
  assets/javascripts/discourse/templates/components/json-file-uploader.hbs
  assets/javascripts/discourse/templates/modal/import-query.hbs
Due: prettier, eslint-js

Implement
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/stylesheets/explorer.scss
Due: prettier, eslint-js

Switch to async await and add error handling
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  config/locales/client.en.yml
Due: prettier, eslint-js

It's enough to specify "application/json" MIME type
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

Make Prettier happy
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

Show the "something went wrong" modal
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

Small fixes
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  config/locales/client.en.yml
Due: prettier, eslint-js

Make eslint happy
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

Remove redundant async/await
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

Fix strings
  config/locales/client.en.yml
Due: none

FEATURE: get rid of the import a query modal (#127)
  assets/javascripts/discourse/components/json-file-uploader.js.es6
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/controllers/import-query.js.es6
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/json-file-uploader.hbs
  assets/javascripts/discourse/templates/modal/import-query.hbs
  assets/stylesheets/explorer.scss
  config/locales/client.en.yml
Due: prettier, eslint-js

DEV: this class is no longer present in chart js 3.x
  test/javascripts/acceptance/run-query-test.js.es6
  test/javascripts/integration/components/data-explorer-bar-chart-test.js.es6
  test/javascripts/integration/components/query-result-test.js.es6
Due: prettier, eslint-js

DEV: pin plugin in a commit for current stable branch.
  .discourse-compatibility
Due: none

Update .discourse-compatibility
  .discourse-compatibility
Due: none

DEV: pin plugin in a commit for current stable branch. (#133)
  .discourse-compatibility
Due: none

DEV: this class is no longer present in chart js 3.x (#132)
  test/javascripts/acceptance/run-query-test.js.es6
  test/javascripts/integration/components/data-explorer-bar-chart-test.js.es6
  test/javascripts/integration/components/query-result-test.js.es6
Due: prettier, eslint-js

remove prefix `v` from the version number
  .discourse-compatibility
Due: none

remove prefix `v` from the version number (#134)
  .discourse-compatibility
Due: none

Update translations
  config/locales/client.de.yml
  config/locales/client.he.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
Due: none

Update translations (#135)
  config/locales/client.de.yml
  config/locales/client.he.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
Due: none

Update translations
  config/locales/client.hu.yml
  config/locales/server.hu.yml
Due: none

Update translations (#136)
  config/locales/client.hu.yml
  config/locales/server.hu.yml
Due: none

UX: Fix button alignment following core changes
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/explorer-schema.hbs
  assets/stylesheets/explorer.scss
Due: prettier

FIX: assign queries
  lib/queries.rb
Due: rubocop

FIX: assign queries (#138)
  lib/queries.rb
Due: rubocop

UX: Fix button alignment following core changes (#137)
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/explorer-schema.hbs
  assets/stylesheets/explorer.scss
Due: prettier

linting
  assets/javascripts/discourse/components/param-input.js.es6
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

more linting
  assets/javascripts/discourse/components/param-input.js.es6
  test/javascripts/acceptance/run-query-test.js.es6
Due: prettier, eslint-js

FEATURE: Add Data Explorer Params to the URL on run (#128)
  assets/javascripts/discourse/components/param-input.js.es6
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  test/javascripts/acceptance/run-query-test.js.es6
Due: prettier, eslint-js

test
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Update CI workflows
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Update CI workflows (#140)
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Remove bookmark reminder_type reference
  plugin.rb
Due: rubocop

DEV: Remove bookmark reminder_type reference (#141)
  plugin.rb
Due: rubocop

Update translations
  config/locales/client.es.yml
Due: none
