Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

Update translations (#142)
  config/locales/client.es.yml
Due: none

DEV: Don't explicitly load files
  plugin.rb
Due: rubocop

DEV: Make frontend tests work with ember-cli
  test/javascripts/acceptance/list-queries-test.js.es6
  test/javascripts/acceptance/run-query-test.js.es6
  test/javascripts/unit/components/query-result-test.js.es6
Due: prettier, eslint-js

DEV: Don't explicitly load files (#143)
  plugin.rb
Due: rubocop

DEV: Make frontend tests work with ember-cli (#144)
  test/javascripts/acceptance/list-queries-test.js.es6
  test/javascripts/acceptance/run-query-test.js.es6
  test/javascripts/unit/components/query-result-test.js.es6
Due: prettier, eslint-js

DEV: Fix `store:main` deprecation
  assets/javascripts/discourse/initializers/initialize-data-explorer.js.es6
Due: prettier, eslint-js

DEV: Fix `store:main` deprecation (#145)
  assets/javascripts/discourse/initializers/initialize-data-explorer.js.es6
Due: prettier, eslint-js

Update translations
  config/locales/client.zh_CN.yml
Due: none

Update translations (#146)
  config/locales/client.zh_CN.yml
Due: none

DEV: Update CI workflows
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Update CI workflows (#147)
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.pt_BR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ar.yml
  config/locales/server.fr.yml
  config/locales/server.pt_BR.yml
  config/locales/server.zh_CN.yml
Due: none

Update translations (#148)
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.pt_BR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ar.yml
  config/locales/server.fr.yml
  config/locales/server.pt_BR.yml
  config/locales/server.zh_CN.yml
Due: none

DEV: migrate routes to the new @action pattern
  assets/javascripts/discourse/routes/group-reports-index.js.es6
  assets/javascripts/discourse/routes/group-reports-show.js.es6
Due: prettier, eslint-js

Update translations
  config/locales/client.fr.yml
  config/locales/client.ja.yml
Due: none

Update translations (#150)
  config/locales/client.fr.yml
  config/locales/client.ja.yml
Due: none

DEV: migrate routes to the new @action pattern (#149)
  assets/javascripts/discourse/routes/group-reports-index.js.es6
  assets/javascripts/discourse/routes/group-reports-show.js.es6
Due: prettier, eslint-js

FIX: Do not stringify null parameters
  assets/javascripts/discourse/components/param-input.js.es6
  assets/stylesheets/explorer.scss
  test/javascripts/acceptance/run-query-test.js.es6
Due: prettier, eslint-js

FIX: Do not stringify null parameters (#151)
  assets/javascripts/discourse/components/param-input.js.es6
  assets/stylesheets/explorer.scss
  test/javascripts/acceptance/run-query-test.js.es6
Due: prettier, eslint-js

Update translations
  config/locales/client.fi.yml
Due: none

Update translations (#152)
  config/locales/client.fi.yml
Due: none

FEATURE: Move query limit to hidden site setting
  app/controllers/data_explorer/query_controller.rb
  config/settings.yml
  plugin.rb
  spec/controllers/queries_controller_spec.rb
Due: rubocop

FEATURE: Move query limit to hidden site setting (#153)
  app/controllers/data_explorer/query_controller.rb
  config/settings.yml
  plugin.rb
  spec/controllers/queries_controller_spec.rb
Due: rubocop

FEATURE: Add an API scope for running queries
  app/controllers/data_explorer/query_controller.rb
  config/locales/client.en.yml
  plugin.rb
  spec/integration/custom_api_key_scopes_spec.rb
Due: rubocop

DEV: Improve tests
  app/controllers/data_explorer/query_controller.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

FEATURE: Add an API scope for running queries (#154)
  app/controllers/data_explorer/query_controller.rb
  config/locales/client.en.yml
  plugin.rb
  spec/integration/custom_api_key_scopes_spec.rb
Due: rubocop

DEV: Improve tests (#155)
  app/controllers/data_explorer/query_controller.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

Update client.en.yml
  config/locales/client.en.yml
Due: none

Update client.en.yml (#156)
  config/locales/client.en.yml
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/client.ca.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fa_IR.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.hu.yml
  config/locales/client.hy.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sl.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations (#158)
  config/locales/client.ar.yml
  config/locales/client.ca.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fa_IR.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.hu.yml
  config/locales/client.hy.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sl.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
Due: none

DEV: Bump eslint-config-discourse and correct violations
  assets/javascripts/discourse/components/param-input.js.es6
  assets/javascripts/discourse/components/query-row-content.js.es6
  assets/javascripts/discourse/components/share-report.js.es6
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  package.json
  test/javascripts/acceptance/list-queries-test.js.es6
  test/javascripts/acceptance/run-query-test.js.es6
  yarn.lock
Due: prettier, eslint-js

Update translations
  config/locales/client.he.yml
Due: none

Update translations (#159)
  config/locales/client.he.yml
Due: none

DEV: Fix specs flakyness
  spec/lib/tasks/data_explorer_spec.rb
Due: rubocop

DEV: Clean up some specs code
  spec/guardian_spec.rb
  spec/lib/tasks/data_explorer_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: Clean up some specs code (#161)
  spec/guardian_spec.rb
  spec/lib/tasks/data_explorer_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
