Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

FIX: Maintain editing state after saving query changes (#223)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/models/query.js
  test/javascripts/acceptance/new-query-test.js
Due: prettier, eslint-js

Update translations
  config/locales/client.ru.yml
Due: none

Update translations (#224)
  config/locales/client.ru.yml
Due: none

Update translations
  config/locales/client.be.yml
  config/locales/client.bg.yml
  config/locales/client.bs_BA.yml
  config/locales/client.ca.yml
  config/locales/client.cs.yml
  config/locales/client.da.yml
  config/locales/client.el.yml
  config/locales/client.et.yml
  config/locales/client.gl.yml
  config/locales/client.hr.yml
  config/locales/client.hy.yml
  config/locales/client.id.yml
  config/locales/client.ko.yml
  config/locales/client.lt.yml
  config/locales/client.lv.yml
  config/locales/client.nb_NO.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.sl.yml
  config/locales/client.sq.yml
  config/locales/client.sr.yml
  config/locales/client.sw.yml
  config/locales/client.te.yml
  config/locales/client.th.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.vi.yml
  config/locales/client.zh_TW.yml
Due: none

Update translations (#225)
  config/locales/client.be.yml
  config/locales/client.bg.yml
  config/locales/client.bs_BA.yml
  config/locales/client.ca.yml
  config/locales/client.cs.yml
  config/locales/client.da.yml
  config/locales/client.el.yml
  config/locales/client.et.yml
  config/locales/client.gl.yml
  config/locales/client.hr.yml
  config/locales/client.hy.yml
  config/locales/client.id.yml
  config/locales/client.ko.yml
  config/locales/client.lt.yml
  config/locales/client.lv.yml
  config/locales/client.nb_NO.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.sl.yml
  config/locales/client.sq.yml
  config/locales/client.sr.yml
  config/locales/client.sw.yml
  config/locales/client.te.yml
  config/locales/client.th.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.vi.yml
  config/locales/client.zh_TW.yml
Due: none

FIX: clear state when reports are changed
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

FIX: basic system spec
  spec/system/reports_spec.rb
Due: rubocop

FIX: clear state when reports are changed (#226)
  assets/javascripts/discourse/routes/group-reports-show.js
  spec/system/reports_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Update plugin to match latest guidelines
  app/controllers/data_explorer/query_controller.rb
  lib/data_explorer.rb
  lib/data_explorer/parameter.rb
  lib/data_explorer/query_group_bookmarkable.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/discourse_data_explorer/engine.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

DEV: Update plugin to match latest guidelines (#227)
  app/controllers/data_explorer/query_controller.rb
  lib/data_explorer.rb
  lib/data_explorer/parameter.rb
  lib/data_explorer/query_group_bookmarkable.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/discourse_data_explorer/engine.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

Revert "DEV: Update plugin to match latest guidelines (#227)"
  app/controllers/data_explorer/query_controller.rb
  lib/data_explorer.rb
  lib/data_explorer/parameter.rb
  lib/data_explorer/query_group_bookmarkable.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/discourse_data_explorer/engine.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

Revert "DEV: Update plugin to match latest guidelines (#227)" (#228)
  app/controllers/data_explorer/query_controller.rb
  lib/data_explorer.rb
  lib/data_explorer/parameter.rb
  lib/data_explorer/query_group_bookmarkable.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/discourse_data_explorer/engine.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

DEV: Change bookmarkable registration to use new plugin API
  .discourse-compatibility
  plugin.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Change bookmarkable registration to use new plugin API (#230)
  .discourse-compatibility
  plugin.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Fix broken plugin specs because of bookmarkable changes
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Fix broken plugin specs because of bookmarkable changes (#231)
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Update plugin to match latest guidelines
  app/controllers/data_explorer/query_controller.rb
  app/controllers/discourse_data_explorer/query_controller.rb
  app/jobs/scheduled/delete_hidden_queries.rb
  app/models/discourse_data_explorer/query.rb
  app/models/discourse_data_explorer/query_group.rb
  app/serializers/data_explorer/query_group_serializer.rb
  app/serializers/data_explorer/query_serializer.rb
  app/serializers/data_explorer/small_post_with_excerpt_serializer.rb
  app/serializers/discourse_data_explorer/query_group_bookmark_serializer.rb
  app/serializers/discourse_data_explorer/query_group_serializer.rb
  app/serializers/discourse_data_explorer/query_serializer.rb
  app/serializers/discourse_data_explorer/small_badge_serializer.rb
  app/serializers/discourse_data_explorer/small_post_with_excerpt_serializer.rb
  app/serializers/user_data_explorer_query_group_bookmark_serializer.rb
  assets/javascripts/discourse/controllers/group-reports-show.js
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20230227102505_rename_data_explorer_namespace.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/discourse_data_explorer/data_explorer.rb
  lib/discourse_data_explorer/engine.rb
  lib/discourse_data_explorer/parameter.rb
  lib/discourse_data_explorer/queries.rb
  lib/discourse_data_explorer/query_group_bookmarkable.rb
  lib/queries.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/data_explorer_spec.rb
  spec/fabricators/query_fabricator.rb
  spec/guardian_spec.rb
  spec/integration/custom_api_key_scopes_spec.rb
  spec/jobs/scheduled/delete_hidden_queries_spec.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop, prettier, eslint-js

FIX: Special attributes not working
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.hbs
  assets/javascripts/discourse/components/result-types/badge.js
  assets/javascripts/discourse/components/result-types/category.hbs
  assets/javascripts/discourse/components/result-types/category.js
  assets/javascripts/discourse/components/result-types/html.hbs
  assets/javascripts/discourse/components/result-types/reltime.hbs
  assets/javascripts/discourse/components/result-types/reltime.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
Due: prettier, eslint-js

FIX: Special attributes not working (#232)
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.hbs
  assets/javascripts/discourse/components/result-types/badge.js
  assets/javascripts/discourse/components/result-types/category.hbs
  assets/javascripts/discourse/components/result-types/category.js
  assets/javascripts/discourse/components/result-types/html.hbs
  assets/javascripts/discourse/components/result-types/reltime.hbs
  assets/javascripts/discourse/components/result-types/reltime.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
Due: prettier, eslint-js

DEV: Update plugin to match latest guidelines (#229)
  app/controllers/data_explorer/query_controller.rb
  app/controllers/discourse_data_explorer/query_controller.rb
  app/jobs/scheduled/delete_hidden_queries.rb
  app/models/discourse_data_explorer/query.rb
  app/models/discourse_data_explorer/query_group.rb
  app/serializers/data_explorer/query_group_serializer.rb
  app/serializers/data_explorer/query_serializer.rb
  app/serializers/data_explorer/small_post_with_excerpt_serializer.rb
  app/serializers/discourse_data_explorer/query_group_bookmark_serializer.rb
  app/serializers/discourse_data_explorer/query_group_serializer.rb
  app/serializers/discourse_data_explorer/query_serializer.rb
  app/serializers/discourse_data_explorer/small_badge_serializer.rb
  app/serializers/discourse_data_explorer/small_post_with_excerpt_serializer.rb
  app/serializers/user_data_explorer_query_group_bookmark_serializer.rb
  assets/javascripts/discourse/controllers/group-reports-show.js
  config/locales/client.en.yml
  config/routes.rb
  db/migrate/20230227102505_rename_data_explorer_namespace.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/discourse_data_explorer/data_explorer.rb
  lib/discourse_data_explorer/engine.rb
  lib/discourse_data_explorer/parameter.rb
  lib/discourse_data_explorer/queries.rb
  lib/discourse_data_explorer/query_group_bookmarkable.rb
  lib/queries.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/data_explorer_spec.rb
  spec/fabricators/query_fabricator.rb
  spec/guardian_spec.rb
  spec/integration/custom_api_key_scopes_spec.rb
  spec/jobs/scheduled/delete_hidden_queries_spec.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Allow data explorer query result to be sent as recurring PM
  about.json
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/data_explorer_report_generator.rb
  lib/result_to_markdown.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/data_explorer_report_generator_spec.rb
Due: rubocop

Fix stree lint
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

Require rails helper for specs
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/data_explorer_report_generator_spec.rb
Due: rubocop

How bout more stree
  plugin.rb
Due: rubocop

Fix ci-failing-but-locally-passing test
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/fabricators/query_fabricator.rb
Due: rubocop

Lint
  spec/fabricators/query_fabricator.rb
Due: rubocop

Revert fabricator class unquoting
  spec/fabricators/query_fabricator.rb
Due: rubocop

Use correct module name for files!
  lib/data_explorer_report_generator.rb
  lib/report_generator.rb
  lib/result_to_markdown.rb
  plugin.rb
  spec/fabricators/query_fabricator.rb
  spec/report_generator_spec.rb
Due: rubocop

Sigh. stree again
  plugin.rb
  spec/report_generator_spec.rb
Due: rubocop

FEATURE: Allow data explorer query result to be sent as recurring PM (#233)
  about.json
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/report_generator.rb
  lib/result_to_markdown.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/fabricators/query_fabricator.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Skip flaky test
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

DEV: Skip flaky test (#234)
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

FIX: Flaky test fix for Data Explorer Automated PM Feature
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

FIX: Flaky test fix for Data Explorer Automated PM Feature (#235)
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

FIX: Reset results on query redirect
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

DEV: Remove unused code
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

FIX: Reset results on query redirect (#236)
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

DEV: Add configurable rate limit for Data Explorer API query runs
  app/controllers/discourse_data_explorer/query_controller.rb
  plugin.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: Add configurable rate limit for Data Explorer API query runs (#238)
  app/controllers/discourse_data_explorer/query_controller.rb
  plugin.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.he.yml
Due: none
