Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

Simplify text in the help dialog, rename resources
  assets/javascripts/discourse/templates/modal/query-help.hbs
  config/locales/client.en.yml
Due: none

Move the help button
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

Add help text about automatic entities resolution
  assets/javascripts/discourse/templates/modal/query-help.hbs
  config/locales/client.en.yml
Due: none

Add an acceptance test for the query list page
  test/javascripts/acceptance/list-queries-test.js.es6
Due: prettier, eslint-js

DEV: Run rubocop, prettier and eslint before commit using lefthook
  Gemfile.lock
  lefthook.yml
  package.json
  yarn.lock
Due: none

Display the help button only when editing a query
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

Add an acceptance test for the query list page (#110)
  test/javascripts/acceptance/list-queries-test.js.es6
Due: prettier, eslint-js

Use fewer resource strings for the modal content
  assets/javascripts/discourse/templates/modal/query-help.hbs
  config/locales/client.en.yml
Due: none

UX: Add a help modal dialog (#109)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/modal/query-help.hbs
  config/locales/client.en.yml
Due: prettier, eslint-js

Update translations
  config/locales/client.ca.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.hu.yml
  config/locales/client.hy.yml
  config/locales/client.it.yml
  config/locales/client.ko.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sl.yml
  config/locales/client.sv.yml
  config/locales/client.sw.yml
  config/locales/client.tr_TR.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations (#111)
  config/locales/client.ca.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.hu.yml
  config/locales/client.hy.yml
  config/locales/client.it.yml
  config/locales/client.ko.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.sl.yml
  config/locales/client.sv.yml
  config/locales/client.sw.yml
  config/locales/client.tr_TR.yml
  config/locales/client.uk.yml
  config/locales/client.ur.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations
  config/locales/client.he.yml
Due: none

Update translations (#112)
  config/locales/client.he.yml
Due: none

DEV: Remove SCSS color vars fallbacks
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Remove SCSS color vars fallbacks (#116)
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Minor clean-up
  .gitignore
  .jshintrc
  .prettierrc
  config/locales/client.en.yml
  package.json
Due: none

FIX: Add missing i18n strings
  config/locales/client.en.yml
Due: none

Update translations
  config/locales/client.de.yml
  config/locales/server.de.yml
Due: none

Update translations (#120)
  config/locales/client.de.yml
  config/locales/server.de.yml
Due: none

FIX: Translation of column headers in query table
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

FIX: add missing string
  assets/javascripts/discourse/templates/components/json-file-uploader.hbs
  config/locales/client.en.yml
Due: none

FIX: Translation of column headers in query table (#122)
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

DEV: Minor clean-up (#119)
  .gitignore
  .jshintrc
  .prettierrc
  config/locales/client.en.yml
  package.json
Due: none

FIX: add missing string (#121)
  assets/javascripts/discourse/templates/components/json-file-uploader.hbs
  config/locales/client.en.yml
Due: none

Update gemfile.lock
  Gemfile.lock
Due: none

Resolve most ember-template-lint concerns
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/explorer-schema-enuminfo.hbs
  assets/javascripts/discourse/templates/components/explorer-schema-onetable.hbs
  assets/javascripts/discourse/templates/components/explorer-schema.hbs
  assets/javascripts/discourse/templates/components/json-file-uploader.hbs
  assets/javascripts/discourse/templates/components/share-report.hbs
  assets/javascripts/discourse/templates/connectors/group-reports-nav-item/nav-item.hbs
  assets/javascripts/discourse/templates/explorer-query-result.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/html.raw.hbs
  assets/javascripts/discourse/templates/explorer/post.raw.hbs
  assets/javascripts/discourse/templates/explorer/topic.raw.hbs
  assets/javascripts/discourse/templates/explorer/url.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  assets/javascripts/discourse/templates/modal/import-query.hbs
Due: none

DEV: Resolve some template linting issues (#123)
  Gemfile.lock
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/explorer-schema-enuminfo.hbs
  assets/javascripts/discourse/templates/components/explorer-schema-onetable.hbs
  assets/javascripts/discourse/templates/components/explorer-schema.hbs
  assets/javascripts/discourse/templates/components/json-file-uploader.hbs
  assets/javascripts/discourse/templates/components/share-report.hbs
  assets/javascripts/discourse/templates/connectors/group-reports-nav-item/nav-item.hbs
  assets/javascripts/discourse/templates/explorer-query-result.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/html.raw.hbs
  assets/javascripts/discourse/templates/explorer/post.raw.hbs
  assets/javascripts/discourse/templates/explorer/topic.raw.hbs
  assets/javascripts/discourse/templates/explorer/url.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  assets/javascripts/discourse/templates/modal/import-query.hbs
Due: none

DEV: Update CI workflows
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Update CI workflows (#91)
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Fix template linting issues
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/share-report.hbs
Due: none

Update test
  test/javascripts/acceptance/list-queries-test.js.es6
Due: prettier, eslint-js

Remove the empty line in table
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  test/javascripts/acceptance/list-queries-test.js.es6
Due: prettier, eslint-js

DEV: Fix template linting issues (#124)
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/share-report.hbs
  test/javascripts/acceptance/list-queries-test.js.es6
Due: prettier, eslint-js

Update translations
  config/locales/client.he.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
Due: none

Implement
  assets/javascripts/discourse/components/upload-files-button.js.es6
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/upload-files-button.hbs
  assets/stylesheets/explorer.scss
  config/locales/client.en.yml
  test/javascripts/integration/components/upload-files-button-test.js.es6
Due: prettier, eslint-js

Remove dead code
  assets/javascripts/discourse/components/json-file-uploader.js.es6
  assets/javascripts/discourse/controllers/import-query.js.es6
  assets/javascripts/discourse/templates/components/json-file-uploader.hbs
  assets/javascripts/discourse/templates/modal/import-query.hbs
Due: prettier, eslint-js

Fix linting issues
  assets/javascripts/discourse/components/upload-files-button.js.es6
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
Due: prettier, eslint-js

Update translations (#125)
  config/locales/client.he.yml
  config/locales/client.ru.yml
  config/locales/client.sv.yml
Due: none

Add Data Explorer Params to the URL when user press run
  assets/javascripts/discourse/components/param-input.js.es6
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js.es6
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  test/javascripts/acceptance/run-query-test.js.es6
Due: prettier, eslint-js

Remove unnecessary function
  test/javascripts/acceptance/run-query-test.js.es6
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
