Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

DEV: Update linting setup
  .gitignore
  Gemfile.lock
  lefthook.yml
  package.json
  yarn.lock
Due: none

DiscourseComputed imports
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-schema-enuminfo.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/models/query.js
Due: prettier, eslint-js

Ember component imports
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/components/explorer-schema-enuminfo.js
  assets/javascripts/discourse/components/explorer-schema-onetable.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/share-report.js
Due: prettier, eslint-js

Fix other imports
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
Due: prettier, eslint-js

Template lint
  assets/javascripts/discourse/templates/admin/components/q-params/boolean.hbs
  assets/javascripts/discourse/templates/admin/components/q-params/user_id.hbs
  assets/javascripts/discourse/templates/admin/components/q-params/user_list.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/explorer-schema-onetable.hbs
  assets/javascripts/discourse/templates/components/explorer-schema.hbs
  assets/javascripts/discourse/templates/components/share-report.hbs
  assets/javascripts/discourse/templates/explorer-query-result.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/post.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
Due: none

prettier
  config/locales/server.en.yml
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/run-query-test.js
Due: prettier, eslint-js

Use `discourse-common/lib/debounce`
  assets/javascripts/discourse/components/explorer-schema.js
Due: prettier, eslint-js

Drop the handlebars import
  assets/javascripts/discourse/components/query-row-content.js
Due: prettier, eslint-js

DEV: Update linting setup and fix issues (#179)
  .gitignore
  Gemfile.lock
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/components/explorer-schema-enuminfo.js
  assets/javascripts/discourse/components/explorer-schema-onetable.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/components/q-params/boolean.hbs
  assets/javascripts/discourse/templates/admin/components/q-params/user_id.hbs
  assets/javascripts/discourse/templates/admin/components/q-params/user_list.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/explorer-schema-onetable.hbs
  assets/javascripts/discourse/templates/components/explorer-schema.hbs
  assets/javascripts/discourse/templates/components/share-report.hbs
  assets/javascripts/discourse/templates/explorer-query-result.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/post.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  config/locales/server.en.yml
  lefthook.yml
  package.json
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/run-query-test.js
  yarn.lock
Due: prettier, eslint-js

DEV: Update CI workflows
  .github/workflows/plugin-tests.yml
Due: none

DEV: Update CI workflows (#180)
  .github/workflows/plugin-tests.yml
Due: none

Update translations
  config/locales/client.da.yml
  config/locales/client.hr.yml
  config/locales/server.hr.yml
Due: none

Update translations (#181)
  config/locales/client.da.yml
  config/locales/client.hr.yml
  config/locales/server.hr.yml
Due: none

UX: Making the headers of the query results table sticky
  assets/stylesheets/explorer.scss
Due: prettier

UX: Making the headers of the query results table sticky (#182)
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Bookmarkable reminder refinement
  lib/data_explorer_query_group_bookmarkable.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Add discourse-compat entry
  .discourse-compatibility
Due: none

DEV: Bookmarkable reminder refinement (#183)
  .discourse-compatibility
  lib/data_explorer_query_group_bookmarkable.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Update last .discourse-compatibility target to 2.9.0.beta6
  .discourse-compatibility
Due: none

DEV: Update last .discourse-compatibility entry's target to 2.9.0.beta6
  .discourse-compatibility
Due: none

FIX: fixed the blueing of the bookmark icon
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/stylesheets/explorer.scss
Due: prettier, eslint-js

FIX: allow groups to access system queries (without having to run the query once first)
  app/controllers/data_explorer/query_controller.rb
Due: rubocop

Fixed test formatting.
  spec/requests/query_controller_spec.rb
Due: rubocop

Added test for fixing allowing groups to access system query.
  spec/requests/query_controller_spec.rb
Due: rubocop

FIX: fixed the blueing of the bookmark icon (#186)
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/stylesheets/explorer.scss
Due: prettier, eslint-js

FIX: Allow groups to access system queries (#185)
  app/controllers/data_explorer/query_controller.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

FIX: better handling of edge cases
  app/models/data_explorer/query.rb
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  plugin.rb
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: Bump rubocop-discourse
  Gemfile.lock
Due: none

Fix rubocop violations
  spec/requests/query_controller_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

DEV: Bump rubocop-discourse (#188)
  Gemfile.lock
  spec/requests/query_controller_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

FIX: Errors when running query due to PG template patterns or comments
  plugin.rb
  spec/data_explorer_spec.rb
Due: rubocop

FIX: Errors when running query due to PG template patterns or comments (#189)
  plugin.rb
  spec/data_explorer_spec.rb
Due: rubocop

DEV: Replace bootbox alert dialogs
  .discourse-compatibility
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
Due: prettier, eslint-js

DEV: Replace bootbox alert dialogs (#190)
  .discourse-compatibility
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
Due: prettier, eslint-js

FIX: Click not opening query
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

FIX: Click not opening query (#191)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

DEV: Update CI workflows
  .github/workflows/plugin-linting.yml
Due: none

DEV: Update CI workflows (#192)
  .github/workflows/plugin-linting.yml
Due: none

Update assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none
