Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

Update translations (#287)
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

DEV: Update htmlSafe import
  assets/javascripts/discourse/components/modal/query-help.gjs
Due: none

DEV: Update htmlSafe import (#288)
  assets/javascripts/discourse/components/modal/query-help.gjs
Due: none

DEV: Rename Jobs::DiscourseAutomationTracker -> Jobs::DiscourseAutomation::Tracker
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

DEV: Rename `Jobs::DiscourseAutomationTracker` -> `Jobs::DiscourseAutomation::Tracker` (#289)
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

FIX: Bookmarking group reports
  assets/javascripts/discourse/controllers/group-reports-show.js
  spec/system/bookmark_spec.rb
Due: rubocop, prettier, eslint-js

Update spec/system/bookmark_spec.rb
  spec/system/bookmark_spec.rb
Due: rubocop

FIX: Bookmarking group reports (#291)
  assets/javascripts/discourse/controllers/group-reports-show.js
  spec/system/bookmark_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Update rubocop-discourse to version 3.8.0
  Gemfile.lock
  lib/discourse_data_explorer/data_explorer.rb
  lib/discourse_data_explorer/parameter.rb
  package.json
  plugin.rb
Due: rubocop

DEV: Update rubocop-discourse to version 3.8.0 (#292)
  Gemfile.lock
  lib/discourse_data_explorer/data_explorer.rb
  lib/discourse_data_explorer/parameter.rb
  package.json
  plugin.rb
Due: rubocop

Update translations
  config/locales/client.cs.yml
  config/locales/client.id.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.te.yml
  config/locales/client.ug.yml
  config/locales/server.ug.yml
Due: none

Update translations (#293)
  config/locales/client.cs.yml
  config/locales/client.id.yml
  config/locales/client.ro.yml
  config/locales/client.sk.yml
  config/locales/client.te.yml
  config/locales/client.ug.yml
  config/locales/server.ug.yml
Due: none

FEATURE: add instant run-off voting export query
  lib/discourse_data_explorer/queries.rb
Due: rubocop

DEV: Use the `only` option when returning groups as json
  app/controllers/discourse_data_explorer/query_controller.rb
Due: rubocop

DEV: Use the `only` option when returning groups as json (#296)
  app/controllers/discourse_data_explorer/query_controller.rb
Due: rubocop

FIX: Use correct label for column header
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

FIX: Use correct label for column header (#297)
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

FEATURE: Add Data Explorer Params to the URL for group queries
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/templates/group-reports-show.hbs
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

FEATURE: Add Data Explorer Params to the URL for group queries (#298)
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/templates/group-reports-show.hbs
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

Update naming to reflect decision to rename IRV to Ranked Choice in main repo
  lib/discourse_data_explorer/queries.rb
Due: rubocop

FEATURE: add instant run-off voting export query (#294)
  lib/discourse_data_explorer/queries.rb
Due: rubocop

FEATURE: Add shortcut keys for save and execute for query editor
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

FEATURE: Add shortcut keys for save and execute for query editor (#299)
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.nl.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations (#300)
  config/locales/client.ar.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.nl.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
Due: none

DEV: Pin plugin for Discourse < 3.4.0.beta1-dev
  .discourse-compatibility
Due: none

DEV: Pin plugin for Discourse < 3.4.0.beta1-dev (#301)
  .discourse-compatibility
Due: none

FIX: Create parameter input boxes after save
  assets/javascripts/discourse/models/query.js
Due: prettier, eslint-js

write tests
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

FIX: Wrong type in category_id param input
  assets/javascripts/discourse/components/param-input.js
Due: prettier, eslint-js

FIX: Create parameter input boxes after save (#303)
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

write tests
  spec/system/param_input_spec.rb
Due: rubocop

fix tests
  spec/system/param_input_spec.rb
Due: rubocop

FIX: Wrong type in category_id param input (#304)
  assets/javascripts/discourse/components/param-input.js
  spec/system/param_input_spec.rb
Due: rubocop, prettier, eslint-js

Update translations
  config/locales/client.ja.yml
  config/locales/client.pt_BR.yml
Due: none

UX: Using CategoryChooser for param param_input
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  spec/system/param_input_spec.rb
  test/javascripts/components/param-input-test.js
Due: rubocop, prettier, eslint-js

forgot a console.log
  assets/javascripts/discourse/components/param-input.js
Due: prettier, eslint-js

fix spec
  spec/system/param_input_spec.rb
Due: rubocop

UX: Using CategoryChooser for param param_input (#306)
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  spec/system/param_input_spec.rb
  test/javascripts/components/param-input-test.js
Due: rubocop, prettier, eslint-js
