Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

FEATURE: Allows CSV file result to be attached in automated PMs
  app/controllers/discourse_data_explorer/query_controller.rb
  config/locales/client.en.yml
  lib/report_generator.rb
  lib/result_format_converter.rb
  plugin.rb
  spec/report_generator_spec.rb
  spec/result_format_converter_spec.rb
Due: rubocop

fix skip empty
  lib/report_generator.rb
Due: rubocop

review
  app/controllers/discourse_data_explorer/query_controller.rb
  lib/report_generator.rb
Due: rubocop

typo
  lib/report_generator.rb
Due: rubocop

FEATURE: Allows CSV file result to be attached in automated PMs (#318)
  app/controllers/discourse_data_explorer/query_controller.rb
  config/locales/client.en.yml
  lib/report_generator.rb
  lib/result_format_converter.rb
  plugin.rb
  spec/report_generator_spec.rb
  spec/result_format_converter_spec.rb
Due: rubocop

DEV: Update ace-editor usage (#319)
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

DEV: Use Rails autoloading
  lib/discourse_data_explorer/engine.rb
  lib/discourse_data_explorer/report_generator.rb
  lib/discourse_data_explorer/result_format_converter.rb
  lib/discourse_data_explorer/result_to_markdown.rb
  plugin.rb
Due: rubocop

DEV: Use Rails autoloading (#321)
  lib/discourse_data_explorer/engine.rb
  lib/discourse_data_explorer/report_generator.rb
  lib/discourse_data_explorer/result_format_converter.rb
  lib/discourse_data_explorer/result_to_markdown.rb
  plugin.rb
Due: rubocop

DEV: Fix autoloading
  lib/discourse_data_explorer/data_explorer.rb
  lib/discourse_data_explorer/validation_error.rb
Due: rubocop

DEV: Fix autoloading (#322)
  lib/discourse_data_explorer/data_explorer.rb
  lib/discourse_data_explorer/validation_error.rb
Due: rubocop

DEV: Update tests
  assets/javascripts/discourse/components/query-result.js
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/components/param-input-test.js
  test/javascripts/integration/components/data-explorer-bar-chart-test.gjs
  test/javascripts/integration/components/data-explorer-bar-chart-test.js
  test/javascripts/integration/components/query-result-test.gjs
  test/javascripts/integration/components/query-result-test.js
Due: prettier, eslint-js

DEV: Update tests (#323)
  assets/javascripts/discourse/components/query-result.js
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/components/param-input-test.js
  test/javascripts/integration/components/data-explorer-bar-chart-test.gjs
  test/javascripts/integration/components/data-explorer-bar-chart-test.js
  test/javascripts/integration/components/query-result-test.gjs
  test/javascripts/integration/components/query-result-test.js
Due: prettier, eslint-js

UX: Automatically convert to lowercase in explorer-schema
  assets/javascripts/discourse/components/explorer-schema.js
  test/javascripts/components/explorer-schema-test.js
Due: prettier, eslint-js

more test
  test/javascripts/components/explorer-schema-test.js
Due: prettier, eslint-js

UX: Automatically convert to lowercase in explorer-schema (#325)
  assets/javascripts/discourse/components/explorer-schema.js
  test/javascripts/components/explorer-schema-test.js
Due: prettier, eslint-js

Update translations
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

Update translations (#320)
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

DEV: Fixes spec regressions caused by test-prof change
  app/models/discourse_data_explorer/query.rb
  spec/models/query_spec.rb
Due: rubocop

comment
  app/models/discourse_data_explorer/query.rb
Due: rubocop

DEV: Fix spec regressions caused by test-prof change (#326)
  app/models/discourse_data_explorer/query.rb
  spec/models/query_spec.rb
Due: rubocop

DEV: Add missing `freeze_time` in report_generator_spec
  spec/report_generator_spec.rb
Due: rubocop

DEV: Add missing `freeze_time` in report_generator_spec (#327)
  spec/report_generator_spec.rb
Due: rubocop

FEATURE: Add script to post report results in a topic regularly
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/discourse_data_explorer/report_generator.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_topic_spec.rb
  spec/fabricators/query_fabricator.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Review fixes
  config/locales/server.en.yml
  lib/discourse_data_explorer/report_generator.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/automation/recurring_data_explorer_result_topic_spec.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Fix mismatched column types
  db/migrate/20241009161603_alter_query_id_to_bigint.rb
Due: rubocop

FEATURE: Add script to post report results in a topic regularly (#328)
  config/locales/client.en.yml
  config/locales/server.en.yml
  lib/discourse_data_explorer/report_generator.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_topic_spec.rb
  spec/fabricators/query_fabricator.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Fix mismatched column types (#329)
  db/migrate/20241009161603_alter_query_id_to_bigint.rb
Due: rubocop

FIX: Optionally linkify URL columns server-side
  assets/javascripts/discourse/components/query-row-content.js
  lib/discourse_data_explorer/report_generator.rb
  lib/discourse_data_explorer/result_to_markdown.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/automation/recurring_data_explorer_result_topic_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Review fixes
  lib/discourse_data_explorer/result_to_markdown.rb
Due: rubocop

FIX: Optionally linkify URL columns server-side (#330)
  assets/javascripts/discourse/components/query-row-content.js
  lib/discourse_data_explorer/report_generator.rb
  lib/discourse_data_explorer/result_to_markdown.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/automation/recurring_data_explorer_result_topic_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Switch to use pnpm
  .npmrc
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

DEV: Switch to use pnpm (#331)
  .npmrc
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.he.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

Update translations (#332)
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.he.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.he.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pl_PL.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

DEV: Remove deprecated use_redis_snapshotting
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: Remove deprecated use_redis_snapshotting (#333)
  spec/requests/query_controller_spec.rb
Due: rubocop

DEV: Update plugin annotations
  app/models/discourse_data_explorer/query.rb
  app/models/discourse_data_explorer/query_group.rb
Due: rubocop

DEV: Update plugin annotations (#334)
  app/models/discourse_data_explorer/query.rb
  app/models/discourse_data_explorer/query_group.rb
Due: rubocop

DEV: Update eslint config
  .eslintrc.cjs
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input/group-input.gjs
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/json.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier, eslint-js

DEV: Update eslint config (#336)
  .eslintrc.cjs
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/param-input/group-input.gjs
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/json.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier, eslint-js

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
