Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

DEV: Update linting
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  package.json
  pnpm-lock.yaml
Due: prettier, eslint-js

DEV: Update linting (#338)
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  package.json
  pnpm-lock.yaml
Due: prettier, eslint-js

DEV: Update linting
  package.json
  pnpm-lock.yaml
Due: none

DEV: Update linting (#339)
  package.json
  pnpm-lock.yaml
Due: none

PERF: Remove dynamic use of `<template>`
  assets/javascripts/discourse/components/param-input-form.gjs
Due: none

PERF: Remove dynamic use of `<template>` (#340)
  assets/javascripts/discourse/components/param-input-form.gjs
Due: none

DEV: Update linting (#341)
  package.json
  pnpm-lock.yaml
Due: none

DEV: Update deprecated Font Awesome icon names
  .discourse-compatibility
  assets/javascripts/discourse/components/explorer-schema/one-table.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  plugin.rb
Due: rubocop

DEV: Update deprecated Font Awesome icon names (#343)
  .discourse-compatibility
  assets/javascripts/discourse/components/explorer-schema/one-table.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  plugin.rb
Due: rubocop

Update translations
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

Update translations (#342)
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

Safe navigation to handle to nil class issue
  app/controllers/discourse_data_explorer/query_controller.rb
Due: rubocop

DEV: Safe navigation to handle to nil current_user class issue (#344)
  app/controllers/discourse_data_explorer/query_controller.rb
Due: rubocop

DEV: Update more deprecated Font Awesome icon names
  assets/javascripts/discourse/components/result-types/json.hbs
  assets/javascripts/discourse/components/share-report.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

DEV: Update more deprecated Font Awesome icon names (#345)
  assets/javascripts/discourse/components/result-types/json.hbs
  assets/javascripts/discourse/components/share-report.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

UX: clarify the need for authorized extension
  config/locales/client.en.yml
Due: none

use a validator
  config/locales/client.en.yml
  config/locales/server.en.yml
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

better test
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

handle *
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

UX: clarify the need for authorized extension (#346)
  config/locales/server.en.yml
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

Update translations
  config/locales/client.ar.yml
  config/locales/server.ar.yml
Due: none

Update translations (#347)
  config/locales/client.ar.yml
  config/locales/server.ar.yml
Due: none

Update translations
  config/locales/server.de.yml
  config/locales/server.he.yml
Due: none

Update translations (#348)
  config/locales/server.de.yml
  config/locales/server.he.yml
Due: none

UX: Apply admin table classes for consistent mobile styling on the recent queries page
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Apply prettier
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

UX: Apply admin table classes for consistent mobile styling on the recent queries page (#349)
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Colocate component templates
  assets/javascripts/discourse/connectors/group-reports-nav-item/nav-item.hbs
Due: none

DEV: Colocate component templates (#350)
  assets/javascripts/discourse/connectors/group-reports-nav-item/nav-item.hbs
Due: none

Update translations
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

Update translations (#351)
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fi.yml
  config/locales/server.fr.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

Update translations
  config/locales/server.ar.yml
Due: none

Update translations (#352)
  config/locales/server.ar.yml
Due: none

FIX: boolean field default state mismatch
  assets/javascripts/discourse/components/param-input-form.gjs
  spec/system/param_input_spec.rb
Due: rubocop

FIX: boolean field default state mismatch (#353)
  assets/javascripts/discourse/components/param-input-form.gjs
  spec/system/param_input_spec.rb
Due: rubocop

DEV: Pin version for Discourse <3.5.0.beta1-dev
  .discourse-compatibility
Due: none

DEV: Pin version for Discourse <3.5.0.beta1-dev (#354)
  .discourse-compatibility
Due: none

DEV: Bump dependencies and fix linting
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/explorer-schema/one-table.js
  assets/javascripts/discourse/components/modal/query-help.gjs
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
  package.json
  pnpm-lock.yaml
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/integration/components/query-result-test.gjs
Due: prettier, eslint-js

DEV: Bump dependencies and fix linting (#355)
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/explorer-schema/one-table.js
  assets/javascripts/discourse/components/modal/query-help.gjs
  assets/javascripts/discourse/components/param-input-form.gjs
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
  package.json
  pnpm-lock.yaml
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/integration/components/query-result-test.gjs
Due: prettier, eslint-js
