Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

DEV: Better handling of no results (#205)
  assets/javascripts/discourse/components/query-result.js
  test/javascripts/integration/components/query-result-test.js
Due: prettier, eslint-js

DEV: Update params to use previously ran values on reload
  assets/javascripts/discourse/components/param-input.js
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: Update params to use previously ran values on reload (#206)
  assets/javascripts/discourse/components/param-input.js
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: Update params for reports
  assets/javascripts/discourse/controllers/group-reports-show.js
Due: prettier, eslint-js

DEV: Add test to test param inputs on group reports
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: Update params for group reports (#207)
  assets/javascripts/discourse/controllers/group-reports-show.js
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: Introduce syntax_tree for ruby formatting
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
  .rubocop.yml
  .streerc
  Gemfile
  Gemfile.lock
  app/controllers/data_explorer/query_controller.rb
  app/jobs/scheduled/delete_hidden_queries.rb
  app/models/data_explorer/query.rb
  app/models/data_explorer/query_group.rb
  app/serializers/data_explorer/query_group_serializer.rb
  app/serializers/data_explorer/query_serializer.rb
  db/migrate/20200810053843_create_data_explorer_queries.rb
  db/migrate/20200902225712_fix_query_ids.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/queries.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/data_explorer_spec.rb
  spec/guardian_spec.rb
  spec/integration/custom_api_key_scopes_spec.rb
  spec/jobs/scheduled/delete_hidden_queries_spec.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

DEV: Introduce syntax_tree for ruby formatting (#208)
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
  .rubocop.yml
  .streerc
  Gemfile
  Gemfile.lock
  app/controllers/data_explorer/query_controller.rb
  app/jobs/scheduled/delete_hidden_queries.rb
  app/models/data_explorer/query.rb
  app/models/data_explorer/query_group.rb
  app/serializers/data_explorer/query_group_serializer.rb
  app/serializers/data_explorer/query_serializer.rb
  db/migrate/20200810053843_create_data_explorer_queries.rb
  db/migrate/20200902225712_fix_query_ids.rb
  lib/data_explorer_query_group_bookmarkable.rb
  lib/queries.rb
  lib/tasks/data_explorer.rake
  lib/tasks/fix_query_ids.rake
  plugin.rb
  spec/data_explorer_spec.rb
  spec/guardian_spec.rb
  spec/integration/custom_api_key_scopes_spec.rb
  spec/jobs/scheduled/delete_hidden_queries_spec.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
  spec/tasks/data_explorer_spec.rb
  spec/tasks/fix_query_ids_spec.rb
Due: rubocop

FIX: Downloading query results
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-results-wrapper.hbs
Due: prettier, eslint-js

FIX: Downloading query results (#211)
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-results-wrapper.hbs
Due: prettier, eslint-js

FIX: Group reports downloads
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/templates/group-reports-show.hbs
Due: prettier, eslint-js

FIX: Group reports downloads (#213)
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/templates/group-reports-show.hbs
Due: prettier, eslint-js

DEV: Update eslint-config-discourse, use prettier for hbs
  .github/workflows/plugin-linting.yml
  assets/javascripts/discourse/components/data-explorer-bar-chart.hbs
  assets/javascripts/discourse/components/explorer-schema.hbs
  assets/javascripts/discourse/components/explorer-schema/enum-info.hbs
  assets/javascripts/discourse/components/explorer-schema/one-table.hbs
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-inputs-wrapper.hbs
  assets/javascripts/discourse/components/query-result.hbs
  assets/javascripts/discourse/components/query-results-wrapper.hbs
  assets/javascripts/discourse/components/query-row-content.hbs
  assets/javascripts/discourse/components/share-report.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/hljs-code-view.hbs
  assets/javascripts/discourse/templates/connectors/group-reports-nav-item/nav-item.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/category.raw.hbs
  assets/javascripts/discourse/templates/explorer/group.raw.hbs
  assets/javascripts/discourse/templates/explorer/html.raw.hbs
  assets/javascripts/discourse/templates/explorer/post.raw.hbs
  assets/javascripts/discourse/templates/explorer/reltime.raw.hbs
  assets/javascripts/discourse/templates/explorer/text.raw.hbs
  assets/javascripts/discourse/templates/explorer/topic.raw.hbs
  assets/javascripts/discourse/templates/explorer/url.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  assets/javascripts/discourse/templates/modal/query-help.hbs
  yarn.lock
Due: none

DEV: Update eslint-config-discourse, use prettier for hbs (#212)
  .github/workflows/plugin-linting.yml
  assets/javascripts/discourse/components/data-explorer-bar-chart.hbs
  assets/javascripts/discourse/components/explorer-schema.hbs
  assets/javascripts/discourse/components/explorer-schema/enum-info.hbs
  assets/javascripts/discourse/components/explorer-schema/one-table.hbs
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-inputs-wrapper.hbs
  assets/javascripts/discourse/components/query-result.hbs
  assets/javascripts/discourse/components/query-results-wrapper.hbs
  assets/javascripts/discourse/components/query-row-content.hbs
  assets/javascripts/discourse/components/share-report.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/hljs-code-view.hbs
  assets/javascripts/discourse/templates/connectors/group-reports-nav-item/nav-item.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/category.raw.hbs
  assets/javascripts/discourse/templates/explorer/group.raw.hbs
  assets/javascripts/discourse/templates/explorer/html.raw.hbs
  assets/javascripts/discourse/templates/explorer/post.raw.hbs
  assets/javascripts/discourse/templates/explorer/reltime.raw.hbs
  assets/javascripts/discourse/templates/explorer/text.raw.hbs
  assets/javascripts/discourse/templates/explorer/topic.raw.hbs
  assets/javascripts/discourse/templates/explorer/url.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  assets/javascripts/discourse/templates/modal/query-help.hbs
  yarn.lock
Due: none

DEV: Upgrade admin-plugins-explorer to Octane
  assets/javascripts/discourse/components/code-view.hbs
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/routes/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/hljs-code-view.hbs
  assets/javascripts/discourse/templates/modal/query-help.hbs
  config/locales/client.ar.yml
  config/locales/client.it.yml
  config/locales/client.pt_BR.yml
  config/locales/server.hr.yml
  config/locales/server.pt.yml
  config/locales/server.sk.yml
  translator.yml
Due: prettier, eslint-js

DEV: Convert resizing of edit pane to draggable modifier
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

DEV: Upgrade `admin-plugins-explorer` to Octane (#209)
  assets/javascripts/discourse/components/code-view.hbs
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/routes/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/components/hljs-code-view.hbs
  assets/javascripts/discourse/templates/modal/query-help.hbs
  config/locales/client.ar.yml
  config/locales/client.it.yml
  config/locales/client.pt_BR.yml
  config/locales/server.hr.yml
  config/locales/server.pt.yml
  config/locales/server.sk.yml
  translator.yml
Due: prettier, eslint-js

Update translations
  config/locales/client.ar.yml
  config/locales/client.it.yml
  config/locales/client.pt_BR.yml
  config/locales/client.tr_TR.yml
  config/locales/server.hr.yml
  config/locales/server.pt.yml
  config/locales/server.sk.yml
Due: none

FIX: Opening and closing of schema columns
  assets/javascripts/discourse/components/explorer-schema/one-table.hbs
Due: none

DEV: Update CI workflows
  .github/workflows/discourse-plugin.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Update CI workflows (#216)
  .github/workflows/discourse-plugin.yml
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

Update translations (#214)
  config/locales/client.ar.yml
  config/locales/client.it.yml
  config/locales/client.pt_BR.yml
  config/locales/client.tr_TR.yml
  config/locales/server.hr.yml
  config/locales/server.pt.yml
  config/locales/server.sk.yml
Due: none

FIX: Opening and closing of schema columns (#215)
  assets/javascripts/discourse/components/explorer-schema/one-table.hbs
Due: none

Update translations
  config/locales/client.tr_TR.yml
  config/locales/server.tr_TR.yml
Due: none

Update translations (#217)
  config/locales/client.tr_TR.yml
  config/locales/server.tr_TR.yml
Due: none

DEV: Upgrade admin-plugins-explorer to Octane
  assets/javascripts/discourse/routes/admin-plugins-explorer.js
Due: prettier, eslint-js

Update explorer.scss
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Upgrade admin-plugins-explorer to Octane (#219)
  assets/javascripts/discourse/routes/admin-plugins-explorer.js
Due: prettier, eslint-js

UX: Reduce the table height (#220)
  assets/stylesheets/explorer.scss
Due: prettier

DEV: Convert run to async function
  assets/javascripts/discourse/controllers/group-reports-show.js
Due: prettier, eslint-js

DEV: Upgrade group-reports to Octane
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
Due: prettier, eslint-js

DEV: Convert bookmark creation to store record
  assets/javascripts/discourse/controllers/group-reports-show.js
Due: prettier, eslint-js

DEV: Upgrade `group-reports` to Octane (#218)
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
  assets/javascripts/discourse/templates/group-reports-index.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
Due: prettier, eslint-js

DEV: Upgrade query model to Octane
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

DEV: Convert raw-hbs to view only components
  assets/javascripts/discourse/components/query-result.hbs
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.hbs
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.hbs
  assets/javascripts/discourse/components/result-types/category.hbs
  assets/javascripts/discourse/components/result-types/group.hbs
  assets/javascripts/discourse/components/result-types/html.hbs
  assets/javascripts/discourse/components/result-types/post.hbs
  assets/javascripts/discourse/components/result-types/reltime.hbs
  assets/javascripts/discourse/components/result-types/text.hbs
  assets/javascripts/discourse/components/result-types/topic.hbs
  assets/javascripts/discourse/components/result-types/url.hbs
  assets/javascripts/discourse/components/result-types/user.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/category.raw.hbs
  assets/javascripts/discourse/templates/explorer/group.raw.hbs
  assets/javascripts/discourse/templates/explorer/html.raw.hbs
  assets/javascripts/discourse/templates/explorer/reltime.raw.hbs
  assets/javascripts/discourse/templates/explorer/text.raw.hbs
  assets/javascripts/discourse/templates/explorer/topic.raw.hbs
  assets/javascripts/discourse/templates/explorer/url.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
Due: prettier, eslint-js

DEV: Convert raw-hbs to view only components (#222)
  assets/javascripts/discourse/components/query-result.hbs
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.hbs
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.hbs
  assets/javascripts/discourse/components/result-types/category.hbs
  assets/javascripts/discourse/components/result-types/group.hbs
  assets/javascripts/discourse/components/result-types/html.hbs
  assets/javascripts/discourse/components/result-types/post.hbs
  assets/javascripts/discourse/components/result-types/reltime.hbs
  assets/javascripts/discourse/components/result-types/text.hbs
  assets/javascripts/discourse/components/result-types/topic.hbs
  assets/javascripts/discourse/components/result-types/url.hbs
  assets/javascripts/discourse/components/result-types/user.hbs
  assets/javascripts/discourse/templates/explorer/badge.raw.hbs
  assets/javascripts/discourse/templates/explorer/category.raw.hbs
  assets/javascripts/discourse/templates/explorer/group.raw.hbs
  assets/javascripts/discourse/templates/explorer/html.raw.hbs
  assets/javascripts/discourse/templates/explorer/reltime.raw.hbs
  assets/javascripts/discourse/templates/explorer/text.raw.hbs
  assets/javascripts/discourse/templates/explorer/topic.raw.hbs
  assets/javascripts/discourse/templates/explorer/url.raw.hbs
  assets/javascripts/discourse/templates/explorer/user.raw.hbs
Due: prettier, eslint-js

DEV: Convert reopenClass values to static values
  assets/javascripts/discourse/models/query.js
Due: prettier, eslint-js

DEV: Upgrade `query` model to Octane (#221)
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

DEV: Maintain editing state after saving query changes
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/models/query.js
Due: prettier, eslint-js

DEV: Add new query test
  test/javascripts/acceptance/new-query-test.js
Due: prettier, eslint-js
