Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

FIX: update report url to work with subfolder installs (#255)
  lib/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Pin plugin for Discourse 3.1 stable
  .discourse-compatibility
Due: none

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fr.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

DEV: Pin plugin for Discourse 3.1 stable (#256)
  .discourse-compatibility
Due: none

Update translations (#257)
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pt_BR.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.ar.yml
  config/locales/server.de.yml
  config/locales/server.es.yml
  config/locales/server.fr.yml
  config/locales/server.it.yml
  config/locales/server.ja.yml
  config/locales/server.nl.yml
  config/locales/server.pt_BR.yml
  config/locales/server.ru.yml
  config/locales/server.tr_TR.yml
  config/locales/server.zh_CN.yml
Due: none

Update translations
  config/locales/client.fi.yml
  config/locales/server.fi.yml
Due: none

Update translations (#258)
  config/locales/client.fi.yml
  config/locales/server.fi.yml
Due: none

Update metadata on plugin.rb
  plugin.rb
Due: rubocop

FIX: Update 'Largest Uploads' queries to use the upload_references table
  lib/discourse_data_explorer/queries.rb
Due: rubocop

FEATURE: Add JSON result type component
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/result-types/json.hbs
  assets/javascripts/discourse/components/result-types/json.js
  assets/stylesheets/explorer.scss
  config/locales/client.en.yml
  lib/discourse_data_explorer/data_explorer.rb
  spec/data_explorer_spec.rb
  spec/system/reports_spec.rb
Due: rubocop, prettier, eslint-js

Update assets/javascripts/discourse/components/result-types/json.hbs
  assets/javascripts/discourse/components/result-types/json.hbs
Due: none

FEATURE: Add JSON result type component (#260)
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/result-types/json.hbs
  assets/javascripts/discourse/components/result-types/json.js
  assets/stylesheets/explorer.scss
  config/locales/client.en.yml
  lib/discourse_data_explorer/data_explorer.rb
  spec/data_explorer_spec.rb
  spec/system/reports_spec.rb
Due: rubocop, prettier, eslint-js

DEV: fix test for new category badge structure
  test/javascripts/integration/components/query-result-test.js
Due: prettier, eslint-js

Update translations
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

Update translations (#264)
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

Update metadata on plugin.rb (#262)
  plugin.rb
Due: rubocop

FIX: Update 'Largest Uploads' queries to use the upload_references table (#261)
  lib/discourse_data_explorer/queries.rb
Due: rubocop

pin older discourse versions
  .discourse-compatibility
Due: none

DEV: fix test for new category badge structure (#263)
  .discourse-compatibility
  test/javascripts/integration/components/query-result-test.js
Due: prettier, eslint-js

DEV: Update `visit` paths in tests
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
Due: prettier, eslint-js

DEV: Update `visit` paths in tests (#265)
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
Due: prettier, eslint-js

DEV: add leading slash to `visit` in test
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: add leading slash to `visit` in test (#266)
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: Update linting
  .eslintrc
  .eslintrc.cjs
  .prettierrc
  .prettierrc.cjs
  .template-lintrc.cjs
  .template-lintrc.js
  Gemfile.lock
  app/models/discourse_data_explorer/query.rb
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/explorer-schema/one-table.js
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.js
  assets/javascripts/discourse/components/result-types/json.js
  assets/javascripts/discourse/components/result-types/reltime.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  package.json
  plugin.rb
  spec/jobs/scheduled/delete_hidden_queries_spec.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/integration/components/data-explorer-bar-chart-test.js
  test/javascripts/integration/components/query-result-test.js
  yarn.lock
Due: rubocop, prettier, eslint-js

DEV: Resolve transitionTo deprecation
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

DEV: Update linting (#267)
  .eslintrc
  .eslintrc.cjs
  .prettierrc
  .prettierrc.cjs
  .template-lintrc.cjs
  .template-lintrc.js
  Gemfile.lock
  app/models/discourse_data_explorer/query.rb
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/explorer-schema/one-table.js
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/result-types/badge.js
  assets/javascripts/discourse/components/result-types/json.js
  assets/javascripts/discourse/components/result-types/reltime.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-index.hbs
  package.json
  plugin.rb
  spec/jobs/scheduled/delete_hidden_queries_spec.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/new-query-test.js
  test/javascripts/acceptance/param-input-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/integration/components/data-explorer-bar-chart-test.js
  test/javascripts/integration/components/query-result-test.js
  yarn.lock
Due: rubocop, prettier, eslint-js

DEV: Resolve transitionTo deprecation (#268)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

DEV: Update modal to component API
  assets/javascripts/discourse/components/modal/query-help.gjs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/modal/query-help.hbs
Due: prettier, eslint-js

lint
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

FIX: Use plugin name appropriately in warning
  plugin.rb
Due: rubocop

Lint the lint
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

DEV: Use plugin name appropriately in warning (#270)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
  plugin.rb
Due: rubocop, prettier, eslint-js

export template
  assets/javascripts/discourse/components/modal/query-help.gjs
Due: none

DEV: Update modal to component API (#269)
  assets/javascripts/discourse/components/modal/query-help.gjs
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/modal/query-help.hbs
Due: prettier, eslint-js

UX: Warn in /logs when PM is not sent
  plugin.rb
Due: rubocop

UX: Warn in /logs when PM is not sent (#271)
  plugin.rb
Due: rubocop

DEV: Update linting
  Gemfile.lock
  package.json
  yarn.lock
Due: none

DEV: Update linting (#272)
  Gemfile.lock
  package.json
  yarn.lock
Due: none

DEV: Convert ajax functions to async
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
Due: prettier, eslint-js

FIX: Don't error out when there is a group or user that does not exist
  lib/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
