Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

DEV: Convert ajax functions to async (#273)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
Due: prettier, eslint-js

Also allow admins to be sent
  lib/report_generator.rb
Due: rubocop

Update lib/report_generator.rb
  lib/report_generator.rb
Due: rubocop

FIX: Continue to send the PM to others when there is a group or user that does not exist (#274)
  lib/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

FEATURE: Allow topic URL without post number for post_id param
  assets/javascripts/discourse/components/param-input.js
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Update linting
  Gemfile.lock
  assets/javascripts/discourse/components/explorer-schema.hbs
  assets/javascripts/discourse/components/share-report.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  package.json
  yarn.lock
Due: none

DEV: Update linting
  package.json
  yarn.lock
Due: none

DEV: Update linting (#276)
  Gemfile.lock
  assets/javascripts/discourse/components/explorer-schema.hbs
  assets/javascripts/discourse/components/share-report.hbs
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
  assets/javascripts/discourse/templates/group-reports-show.hbs
  package.json
  yarn.lock
Due: none

FEATURE: Allow topic URL without post number for post_id param (#275)
  assets/javascripts/discourse/components/param-input.js
  lib/discourse_data_explorer/parameter.rb
  spec/lib/parameter_spec.rb
Due: rubocop, prettier, eslint-js

Update translations
  config/locales/client.ar.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.pl_PL.yml
Due: none

Update translations (#277)
  config/locales/client.ar.yml
  config/locales/client.es.yml
  config/locales/client.fi.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.nl.yml
  config/locales/client.pl_PL.yml
  config/locales/client.ru.yml
  config/locales/client.tr_TR.yml
  config/locales/client.zh_CN.yml
  config/locales/server.pl_PL.yml
Due: none

Update translations
  config/locales/client.pt_BR.yml
Due: none

Update translations (#278)
  config/locales/client.pt_BR.yml
Due: none

DEV: Pin plugin for Discourse < 3.3.0.beta1-dev
  .discourse-compatibility
Due: none

DEV: Adapt to core bookmark changes
  .discourse-compatibility
  lib/discourse_data_explorer/query_group_bookmarkable.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Skip spec
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Skip spec (#281)
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Test fix
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Adapt to core bookmark changes (#280)
  .discourse-compatibility
  lib/discourse_data_explorer/query_group_bookmarkable.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
Due: rubocop

DEV: Fix new Rubocop offenses
  Gemfile.lock
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/data_explorer_spec.rb
  spec/guardian_spec.rb
  spec/integration/custom_api_key_scopes_spec.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
  spec/report_generator_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
  spec/result_to_markdown_spec.rb
Due: rubocop

DEV: Fix new Rubocop offenses (#282)
  Gemfile.lock
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/data_explorer_spec.rb
  spec/guardian_spec.rb
  spec/integration/custom_api_key_scopes_spec.rb
  spec/lib/data_explorer/query_group_bookmarkable_spec.rb
  spec/report_generator_spec.rb
  spec/requests/group_spec.rb
  spec/requests/query_controller_spec.rb
  spec/result_to_markdown_spec.rb
Due: rubocop

FEATURE: Add group_list parameter type
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/models/query.js
  lib/discourse_data_explorer/parameter.rb
  spec/system/explorer_spec.rb
Due: rubocop, prettier, eslint-js

Run stree
  lib/discourse_data_explorer/parameter.rb
  spec/system/explorer_spec.rb
Due: rubocop

FEATURE: Add group_list parameter type (#283)
  assets/javascripts/discourse/components/param-input.hbs
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/models/query.js
  lib/discourse_data_explorer/parameter.rb
  spec/system/explorer_spec.rb
Due: rubocop, prettier, eslint-js

FIX: send single report PM to groups
  lib/report_generator.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/report_generator_spec.rb
Due: rubocop

use validation for email addresses
  lib/report_generator.rb
Due: rubocop

fix linting
  lib/report_generator.rb
Due: rubocop

pass emails correctly as target_emails
  lib/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Prefer Category.findById over categoryById
  assets/javascripts/discourse/components/query-result.js
Due: prettier, eslint-js

filter recipients more efficiently
  lib/report_generator.rb
  plugin.rb
  spec/report_generator_spec.rb
Due: rubocop

return recipients in expected order
  lib/report_generator.rb
Due: rubocop

fix test
  spec/report_generator_spec.rb
Due: rubocop

FIX: send single report PM to groups (#284)
  lib/report_generator.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: Prefer Category.findById over categoryById (#285)
  assets/javascripts/discourse/components/query-result.js
Due: prettier, eslint-js

FEATURE: Add ability to skip sending the PM if there are no results
  config/locales/client.en.yml
  lib/report_generator.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

.. lint the plugin
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

Default opts to {}
  lib/report_generator.rb
Due: rubocop

FEATURE: Add ability to skip sending the PM if there are no results (#286)
  config/locales/client.en.yml
  lib/report_generator.rb
  plugin.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
Due: rubocop

Update translations
  config/locales/client.de.yml
  config/locales/client.he.yml
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
