Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

rubocop:
  run: bundle exec rubocop --parallel {staged_files}

prettier:
  include: test/javascripts|assets/javascripts
  run: yarn prettier --list-different {staged_files}

eslint-js:
  include: test/javascripts|assets/javascripts
  run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

performance refactor for group to users
  lib/discourse_data_explorer/report_generator.rb
  spec/report_generator_spec.rb
Due: rubocop

DEV: improve group query access for report PM (#372)
  lib/discourse_data_explorer/report_generator.rb
  spec/automation/recurring_data_explorer_result_pm_spec.rb
  spec/report_generator_spec.rb
Due: rubocop

Update translations (#370)
  config/locales/client.he.yml
Due: none

Update translations
  config/locales/client.de.yml
  config/locales/server.de.yml
Due: none

Update translations (#373)
  config/locales/client.de.yml
  config/locales/server.de.yml
Due: none

FIX: Add new attribute that is required when using the basic topic serializer
  lib/discourse_data_explorer/data_explorer.rb
Due: rubocop

test
  spec/data_explorer_spec.rb
Due: rubocop

FIX: Add new attribute that is required when using the basic topic serializer (#375)
  lib/discourse_data_explorer/data_explorer.rb
  spec/data_explorer_spec.rb
Due: rubocop

fix issues
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.gjs
Due: none

DEV: [gjs-codemod] Convert all templates to gjs
  Gemfile.lock
  package.json
  pnpm-lock.yaml
Due: none

DEV: Update linting config and run gjs-codemod
  .discourse-compatibility
  Gemfile.lock
  package.json
  pnpm-lock.yaml
Due: none

ux: category-id-input: allows no-category selection
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
Due: none

DEV: category_id query param: adds basic acceptance test
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: acceptance tests cleanup: removes unused lines of code
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: reverts leaked line change
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: param-input-test: updates selectors with select-kit-helper
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: param-input-test: adds null category_id query param check
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

clearly test deselecting category
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

DEV: lint fix: order imports
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

UX: category-id-input: allows no-category selection (#377)
  assets/javascripts/discourse/components/param-input/category-id-input.gjs
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/param-input-test.js
Due: prettier, eslint-js

FIX: edit button not working
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.gjs
  assets/stylesheets/explorer.scss
  spec/system/explorer_spec.rb
Due: rubocop, prettier

FIX: tests
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.gjs
  spec/system/explorer_spec.rb
  test/javascripts/acceptance/run-query-test.js
Due: rubocop, prettier, eslint-js

FIX: edit button not working (#379)
  assets/javascripts/discourse/templates/admin/plugins-explorer-queries-details.gjs
  assets/stylesheets/explorer.scss
  spec/system/explorer_spec.rb
  test/javascripts/acceptance/run-query-test.js
Due: rubocop, prettier, eslint-js

FEAT: Add tag group entity support to query results
  assets/javascripts/discourse/components/query-result.gjs
  assets/javascripts/discourse/components/query-row-content.gjs
  assets/javascripts/discourse/components/result-types/tag-group.gjs
  lib/discourse_data_explorer/data_explorer.rb
Due: rubocop

add tests
  spec/data_explorer_spec.rb
Due: rubocop

FEATURE: Add tag group entity support to query results (#380)
  assets/javascripts/discourse/components/query-result.gjs
  assets/javascripts/discourse/components/query-row-content.gjs
  assets/javascripts/discourse/components/result-types/tag-group.gjs
  lib/discourse_data_explorer/data_explorer.rb
  spec/data_explorer_spec.rb
Due: rubocop

FIX: Don't add `only: nil` serializing options of data explorer results
  lib/discourse_data_explorer/data_explorer.rb
  spec/data_explorer_spec.rb
Due: rubocop

FIX: Don't add `only: nil` serializing options of data explorer results (#381)
  lib/discourse_data_explorer/data_explorer.rb
  spec/data_explorer_spec.rb
Due: rubocop

DEV: Deprecate the plugin
  README.md
Due: none

DEV: Deprecate the plugin (#382)
  README.md
Due: none

Path conditions:
  rubocop: any of: *.rb
  prettier: any of: *.{scss,js,es6}
  eslint-js: any of: *.{js,es6}
