Repository discourse/discourse-data-explorer: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, prettier, eslint-js

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop --parallel {staged_files}
    prettier:
      glob: "*.{scss,js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn prettier --list-different {staged_files}
    eslint-js:
      glob: "*.{js,es6}"
      include: "test/javascripts|assets/javascripts"
      run: yarn eslint --no-error-on-unmatched-pattern -f compact {staged_files}

DEV: Fix specs flakyness (#160)
  spec/lib/tasks/data_explorer_spec.rb
Due: rubocop

Update translations
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations (#162)
  config/locales/client.ar.yml
  config/locales/client.de.yml
  config/locales/client.es.yml
  config/locales/client.fr.yml
  config/locales/client.it.yml
  config/locales/client.ja.yml
  config/locales/client.zh_CN.yml
Due: none

Update translations
  config/locales/client.fi.yml
  config/locales/client.pt_BR.yml
Due: none

Update translations (#163)
  config/locales/client.fi.yml
  config/locales/client.pt_BR.yml
Due: none

Update README.md
  README.md
Due: none

DEV: Update README.md (#164)
  README.md
Due: none

DEV: Lose the es6 suffix
  assets/javascripts/admin/adapters/query.js
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/components/explorer-schema-enuminfo.js
  assets/javascripts/discourse/components/explorer-schema-onetable.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/connectors/group-reports-nav-item/nav-item.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/explorer-route-map.js
  assets/javascripts/discourse/group-reports-route-map.js
  assets/javascripts/discourse/initializers/initialize-data-explorer.js
  assets/javascripts/discourse/lib/themeColor.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/routes/admin-plugins-explorer.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
  plugin.rb
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/integration/components/data-explorer-bar-chart-test.js
  test/javascripts/integration/components/query-result-test.js
  test/javascripts/unit/components/query-result-test.js
Due: rubocop, prettier, eslint-js

DEV: Lose the es6 suffix (#165)
  assets/javascripts/admin/adapters/query.js
  assets/javascripts/discourse/components/data-explorer-bar-chart.js
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/components/explorer-schema-enuminfo.js
  assets/javascripts/discourse/components/explorer-schema-onetable.js
  assets/javascripts/discourse/components/explorer-schema.js
  assets/javascripts/discourse/components/param-input.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/connectors/group-reports-nav-item/nav-item.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/explorer-route-map.js
  assets/javascripts/discourse/group-reports-route-map.js
  assets/javascripts/discourse/initializers/initialize-data-explorer.js
  assets/javascripts/discourse/lib/themeColor.js
  assets/javascripts/discourse/models/query.js
  assets/javascripts/discourse/routes/admin-plugins-explorer.js
  assets/javascripts/discourse/routes/group-reports-index.js
  assets/javascripts/discourse/routes/group-reports-show.js
  plugin.rb
  test/javascripts/acceptance/list-queries-test.js
  test/javascripts/acceptance/run-query-test.js
  test/javascripts/integration/components/data-explorer-bar-chart-test.js
  test/javascripts/integration/components/query-result-test.js
  test/javascripts/unit/components/query-result-test.js
Due: rubocop, prettier, eslint-js

DEV: Update CI workflows
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

DEV: Update CI workflows (#166)
  .github/workflows/plugin-linting.yml
  .github/workflows/plugin-tests.yml
Due: none

FIX: Use new properties for pick-files-button
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

DEV: Update .discourse-compatibility because of core changes
  .discourse-compatibility
Due: none

FIX: Use new properties for pick-files-button (#167)
  .discourse-compatibility
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: none

DEV: Lock plugin version to beta2 instead of beta3
  .discourse-compatibility
Due: none

DEV: Lock plugin version to beta2 instead of beta3 (#168)
  .discourse-compatibility
Due: none

DEV: Remove 'capitalize' string prototype extensions
  assets/javascripts/discourse/components/query-result.js
Due: prettier, eslint-js

DEV: Remove 'capitalize' string prototype extensions
  assets/javascripts/discourse/components/query-row-content.js
Due: prettier, eslint-js

DEV: Remove 'dasherize' string prototype extensions
  assets/javascripts/discourse/components/param-input.js
Due: prettier, eslint-js

DEV: Remove 'capitalize' string prototype extensions (#172)
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/query-row-content.js
Due: prettier, eslint-js

DEV: Remove 'dasherize' string prototype extensions (#173)
  assets/javascripts/discourse/components/param-input.js
Due: prettier, eslint-js

FIX: Edit button shouldn't be visible for seeded queries
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

FIX: Edit button shouldn't be visible for seeded queries (#174)
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/templates/admin/plugins-explorer.hbs
Due: prettier, eslint-js

DEV: Update CI workflows
  .github/workflows/plugin-linting.yml
Due: none

DEV: Update CI workflows (#175)
  .github/workflows/plugin-linting.yml
Due: none

DEV: Remove 'htmlSafe' string prototype extensions
  assets/javascripts/discourse/components/query-row-content.js
Due: prettier, eslint-js

DEV: Remove 'htmlSafe' string prototype extensions (#176)
  assets/javascripts/discourse/components/query-row-content.js
Due: prettier, eslint-js

Bookmarkable QueryGroups.
  app/controllers/data_explorer/query_controller.rb
  app/models/data_explorer/query_group.rb
  app/serializers/data_explorer/query_group_serializer.rb
  app/serializers/user_data_explorer_query_group_bookmark_serializer.rb
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-show.js
  assets/javascripts/discourse/templates/group-reports-show.hbs
  lib/data_explorer_query_group_bookmarkable.rb
  plugin.rb
  spec/fabricators/query_fabricator.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop, prettier, eslint-js

Some prettifying with spaces.
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-show.js
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop, prettier, eslint-js

Using user.visible_groups instead of user.groups, to account for Group visibility security settings.
  lib/data_explorer_query_group_bookmarkable.rb
Due: rubocop

Bookmark icons made blue.
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/stylesheets/explorer.scss
Due: prettier, eslint-js

Search only by Query name. Removed search by Query description.
  lib/data_explorer_query_group_bookmarkable.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop

Bookmarkable list_query: - Removed redundant filtering by bookmarkable_type - Added the condition to only filter by user groups if user is not an Admin
  lib/data_explorer_query_group_bookmarkable.rb
Due: rubocop

Fix on some carelessness.
  app/controllers/data_explorer/query_controller.rb
  assets/javascripts/discourse/controllers/group-reports-show.js
Due: rubocop, prettier, eslint-js

changed variable query_group to queryGroup to follow camelCase convention on JS.
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-show.js
Due: prettier, eslint-js

Optimization. We don't need group_ids if the user is admin.
  lib/data_explorer_query_group_bookmarkable.rb
Due: rubocop

Prettying up the code with linters
  app/serializers/data_explorer/query_group_serializer.rb
  app/serializers/user_data_explorer_query_group_bookmark_serializer.rb
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-show.js
  assets/stylesheets/explorer.scss
  lib/data_explorer_query_group_bookmarkable.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop, prettier, eslint-js

FEATURE: Bookmarkable QueryGroups. (#177)
  app/controllers/data_explorer/query_controller.rb
  app/models/data_explorer/query_group.rb
  app/serializers/data_explorer/query_group_serializer.rb
  app/serializers/user_data_explorer_query_group_bookmark_serializer.rb
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/routes/group-reports-show.js
  assets/javascripts/discourse/templates/group-reports-show.hbs
  assets/stylesheets/explorer.scss
  lib/data_explorer_query_group_bookmarkable.rb
  plugin.rb
  spec/fabricators/query_fabricator.rb
  spec/lib/data_explorer_query_group_bookmarkable_spec.rb
Due: rubocop, prettier, eslint-js

DEV: Remove use of run-loop-and-computed-dot-access
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/components/explorer-schema-onetable.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
Due: prettier, eslint-js

DEV: Remove use of run-loop-and-computed-dot-access (#178)
  assets/javascripts/discourse/components/explorer-container.js
  assets/javascripts/discourse/components/explorer-schema-onetable.js
  assets/javascripts/discourse/components/query-result.js
  assets/javascripts/discourse/components/share-report.js
  assets/javascripts/discourse/controllers/admin-plugins-explorer.js
  assets/javascripts/discourse/controllers/group-reports-index.js
  assets/javascripts/discourse/controllers/group-reports-show.js
  assets/javascripts/discourse/models/query.js
Due: prettier, eslint-js
